.foo {
  background: dodgerblue;
  border-radius: 4px;
  padding: 12px;
}

.fa-threejs-main canvas {
  width: 700px;
  height: 500px;
  background-color: #000;
}

.fa-div-line {
  a {
    display: block;
  }
}

.fa-stats-gl-rb {
  position: fixed !important;
  top: auto !important;
  left: auto !important;
  right: 270px;
  bottom: 48px;
}
